<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>

<filter *.**>
  @type record_transformer

  <record>
    source ${tag}
  </record>
</filter>

<filter docker.blog>
  @type parser
  key_name log

  <parse>
    @type json
  </parse>
</filter>

<filter docker.blog>
  @type grep

  <exclude>
    key $.request.headers.User-Agent
    pattern /(Healthcheck|Uptime)/
  </exclude>
</filter>

<filter docker.blog>
  @type record_transformer
  remove_keys resp_headers
</filter>

<match *.**>
  @type copy

  <store>
    @type elasticsearch
    scheme http
    host {{ fluentd_elasticsearch_host }}
    port {{ fluentd_elasticsearch_port }}
    logstash_format true
    logstash_prefix fluentd
    enable_ilm true
  </store>

  <store>
    @type stdout
  </store>
</match>
