---
http:
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https

    basic-auth:
      basicAuth:
        users:
          - "{{ traefik_dashboard_user }}:{{ traefik_dashboard_password | password_hash('md5') }}"

    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true

    secured:
      chain:
        middlewares:
        - default-headers
