---
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

{% if prometheus_alertmanager_host %}
# Alert Manager configuration
alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - {{ prometheus_alertmanager_host }}:{{ prometheus_alertmanager_port }}

rule_files:
  - alerts.yml
{% endif %}


# InfluxDB configuration
remote_write:
  - url: "http://{{ prometheus_influx_host }}:{{ prometheus_influx_port}}/api/v1/prom/write?db={{ prometheus_influx_database }}&u={{ prometheus_influx_user }}&p={{ prometheus_influx_password }}"
remote_read:
  - url: "http://{{ prometheus_influx_host }}:{{ prometheus_influx_port}}/api/v1/prom/read?db={{ prometheus_influx_database }}&u={{ prometheus_influx_user }}&p={{ prometheus_influx_password }}"

scrape_configs:
{% for job in prometheus_scrape_jobs %}
  - job_name: '{{ job }}'
    static_configs:
      - targets:
{% for target in prometheus_scrape_jobs[job] %}
        - {{ target }}
{% endfor %}
{% endfor -%}
